<script>
  var btn = document.getElementsByClassName("banner-orb");
var banner = document.getElementById("bannerImage");

btn[0].onclick = function(){
  banner.src = "../Assets/background2.jpeg";
}

btn[1].onclick = function(){
  banner.src = "../Assets/background1.jpeg";
}

btn[2].onclick = function(){
  banner.src = "../Assets/background2.jpeg";
}
</script>
</body>
</html>