<script>
var orb = document.getElementsByClassName("banner-orb");
var banner = document.getElementById("bannerImage");

orb[0].onclick = function(){
  banner.src = "../Assets/pic1.png";
  animation();
  this.classList.add("orb-active");
}

orb[1].onclick = function(){
  banner.src = "../Assets/pic2.png";
  animation();
  this.classList.add("orb-active");
}

orb[2].onclick = function(){
  banner.src = "../Assets/pic3.png";
  animation();
  this.classList.add("orb-active");
}

function animation(){
  banner.classList.add("zoom");

  setTimeout(function(){
    banner.classList.remove("zoom");
  },500);
  for(b of orb){
    b.classList.remove("orb-active");
  }
}
</script>
</body>
</html>