{{!-- section --}}
<section class="section">
    <div class="container">
        
        {{!-- Uploader --}}
        {{>uploader}}
        {{!-- /Uploader --}}

        {{!-- Display Images --}}
        {{>products}}
        {{!-- /Display Images --}}    
</section>
{{!-- /section --}}