<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-4" id="navbarSupportedContent">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item p-3">
          <a class="nav-link active" aria-current="page" data-easing="easeInOutQuad" href="#HeaderSection">Home</a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link active" href="#CardContainer" data-easing="easeInOutQuad" aria-current="page">Product</a>
        </li>
        <li class="nav-item p-3">
          <a data-scroll class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>