@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Roboto', sans-serif;
}

.font-poppins{
    font-family: 'Poppins',sans-serif;
}

.font-size-09{
    font-size: .9em;
}

input:focus{
    box-shadow: none !important;
    outline: none !important;
}

