@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Roboto', sans-serif;
}

.font-poppins{
    font-family: 'Poppins',sans-serif;
}

.font-size-09{
    font-size: .9em;
}

input:focus{
    box-shadow: none !important;
    outline: none !important;
}

/* Header */

header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.banner{
    position: relative;
    background: url('../Assets/background2.jpeg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0px 200px;
}

.banner h2{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color: #262626;
    /* text-transform: uppercase; */
}

.banner p{
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 1000;
    color: #262626;
    line-height: 1.5em;
    /* text-transform: uppercase; */
}

.btnProducts{
    display: inline-block;
    margin: 1em 0 0;
    background: #ff2670;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 800;

}

.btnProducts:hover{
    color: #fff;
    text-decoration: none;
}

/* Header */

/* Navbar */

.navbar{
    padding: 20px 0;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #262626;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;

}

.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
}

.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border: 2px solid #7f7f77;
    border-radius: 0;
    outline: none;
}

.navbar-collapse{
    background: #fff;
}

/* Navbar */


@media(max-width: 768px){
    
.banner{
    padding: 200px 0;
}
.banner h2{
    font-size: 1.8em;
}
}