@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --nice-blue: #DAE4FF;
    --nice--black: #585E6E;
    --darkish--grey: #A5ABBD;
    --light-brown: #F4E2C8;
    --nice-brown: #BBAB92;
    --gray: #ededed;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.font-poppins{
    font-family: 'Poppins',sans-serif;
}

.font-size-09{
    font-size: .9em;
}

input:focus{
    box-shadow: none !important;
    outline: none !important;
}

#CardContainer{
    margin: 20px 10px;
}

#productCard{
    max-height: 550px;
}

.product-img{
    overflow: hidden;
    max-height: 350px;
}

.product-img img{
    transition: all 1.5s ease;
    max-height: 350px;
}

.product-img:hover img{
    transform: scale(1.1);
}

/* Header */

header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

button{
    padding: 15px 40px;
    border: 0;
    outline: none;
    border-radius: 25px;
    background: #333;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.banner{
    width: 100%;
    min-height: 100vh;
    background: var(--nice-blue);
    padding-left: 6%;
    padding-right: 6%;
}

.banner-row{
    display: flex;
    width: 100%;
    background: #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
} 

.banner-left .banner-right{
    flex-basis: 50%;
    overflow: hidden;
}

.banner-right img{
    width: 100%;
} 

.banner-left{
    padding: 8% 5%;
    position: relative;
}

.banner-left h1{
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 2px;
    color: #333;
}

.banner-left p{
    color: #777;
    line-height: 22px;
    margin: 15px 0 30px;
}

.banner-left ul{
    position: absolute;
    bottom: 30px;
}

.banner-orb{
    list-style: none;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #bfbfbf;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

#Orbs{
    position: absolute;
    bottom: 30px;
}

ul .orb-active{
    background: #333;
}

.zoom{
    animation: zoomout 0.5s linear 1;
}

@keyframes zoomout {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.btnProducts{
    display: inline-block;
    margin: 1em 0 0;
    background: #ff2670;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 800;

}

.btnProducts:hover{
    color: #fff;
    text-decoration: none;
}

/* Header */



/* Navbar */

.navbar{
    padding: 20px 0;
    background: var(--nice-blue);
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #262626;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;

}

.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
}

.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border: 2px solid #7f7f77;
    border-radius: 0;
    outline: none;
}

.navbar-collapse{
    background: var(--white-light);
    border-radius: 15px;
}

/* Navbar */


/* Scroll Button */

#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
}

/* Scroll Button */



footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px
  }
/* Media Queries */

